In [1]:
import numpy as np
import pandas as pd
import seaborn as sb
import seaborn as sns
import matplotlib.pyplot as plt # we only need pyplot
sb.set()

In [3]:
spotifyData = pd.read_csv('spotify-2023.csv', encoding='ISO-8859-1')
spotifyData.head()

,track_name,artist(s)_name,artist_count,released_year,released_month,released_day,in_spotify_playlists,in_spotify_charts,streams,in_apple_playlists,...,bpm,key,mode,danceability_%,valence_%,energy_%,acousticness_%,instrumentalness_%,liveness_%,speechiness_%
0,Seven (feat. Latto) (Explicit Ver.),"Latto, Jung Kook",2,2023,7,14,553,147,141381703,43,...,125,B,Major,80,89,83,31,0,8,4
1,LALA,Myke Towers,1,2023,3,23,1474,48,133716286,48,...,92,C#,Major,71,61,74,7,0,10,4
2,vampire,Olivia Rodrigo,1,2023,6,30,1397,113,140003974,94,...,138,F,Major,51,32,53,17,0,31,6
3,Cruel Summer,Taylor Swift,1,2019,8,23,7858,100,800840817,116,...,170,A,Major,55,58,72,11,0,11,15
4,WHERE SHE GOES,Bad Bunny,1,2023,5,18,3133,50,303236322,84,...,144,A,Minor,65,23,80,14,63,11,6

In [4]:
spotifyData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 953 entries, 0 to 952
Data columns (total 24 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   track_name            953 non-null    object
 1   artist(s)_name        953 non-null    object
 2   artist_count          953 non-null    int64
 3   released_year         953 non-null    int64
 4   released_month        953 non-null    int64
 5   released_day          953 non-null    int64
 6   in_spotify_playlists  953 non-null    int64
 7   in_spotify_charts     953 non-null    int64
 8   streams               953 non-null    object
 9   in_apple_playlists    953 non-null    int64
 10  in_apple_charts       953 non-null    int64
 11  in_deezer_playlists   953 non-null    object
 12  in_deezer_charts      953 non-null    int64
 13  in_shazam_charts      903 non-null    object
 14  bpm                   953 non-null    int64
 15  key                   858 non-null    object
 16  mode                  953 non-null    object
 17  danceability_%        953 non-null    int64
 18  valence_%             953 non-null    int64
 19  energy_%              953 non-null    int64
 20  acousticness_%        953 non-null    int64
 21  instrumentalness_%    953 non-null    int64
 22  liveness_%            953 non-null    int64
 23  speechiness_%         953 non-null    int64
dtypes: int64(17), object(7)
memory usage: 178.8+ KB

In [6]:
#dropping track_name, artist_count, released year, month and day. I feel like it doesn't really affect the rankings of the songs to a very large extent though.. not too sure we can discuss this later

In [7]:
clean_data = spotifyData.drop(columns = ['track_name', 'artist_count', 'released_year', 'released_month', 'released_day'])

In [8]:
clean_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 953 entries, 0 to 952
Data columns (total 19 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   artist(s)_name        953 non-null    object
 1   in_spotify_playlists  953 non-null    int64
 2   in_spotify_charts     953 non-null    int64
 3   streams               953 non-null    object
 4   in_apple_playlists    953 non-null    int64
 5   in_apple_charts       953 non-null    int64
 6   in_deezer_playlists   953 non-null    object
 7   in_deezer_charts      953 non-null    int64
 8   in_shazam_charts      903 non-null    object
 9   bpm                   953 non-null    int64
 10  key                   858 non-null    object
 11  mode                  953 non-null    object
 12  danceability_%        953 non-null    int64
 13  valence_%             953 non-null    int64
 14  energy_%              953 non-null    int64
 15  acousticness_%        953 non-null    int64
 16  instrumentalness_%    953 non-null    int64
 17  liveness_%            953 non-null    int64
 18  speechiness_%         953 non-null    int64
dtypes: int64(13), object(6)
memory usage: 141.6+ KB

In [7]:
#checking for any NaN values

In [9]:
clean_data.isnull().sum()

artist(s)_name           0
in_spotify_playlists     0
in_spotify_charts        0
streams                  0
in_apple_playlists       0
in_apple_charts          0
in_deezer_playlists      0
in_deezer_charts         0
in_shazam_charts        50
bpm                      0
key                     95
mode                     0
danceability_%           0
valence_%                0
energy_%                 0
acousticness_%           0
instrumentalness_%       0
liveness_%               0
speechiness_%            0
dtype: int64

In [10]:
cleaner_data = clean_data.dropna(subset = ['in_shazam_charts', 'key'])
cleaner_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 817 entries, 0 to 952
Data columns (total 19 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   artist(s)_name        817 non-null    object
 1   in_spotify_playlists  817 non-null    int64
 2   in_spotify_charts     817 non-null    int64
 3   streams               817 non-null    object
 4   in_apple_playlists    817 non-null    int64
 5   in_apple_charts       817 non-null    int64
 6   in_deezer_playlists   817 non-null    object
 7   in_deezer_charts      817 non-null    int64
 8   in_shazam_charts      817 non-null    object
 9   bpm                   817 non-null    int64
 10  key                   817 non-null    object
 11  mode                  817 non-null    object
 12  danceability_%        817 non-null    int64
 13  valence_%             817 non-null    int64
 14  energy_%              817 non-null    int64
 15  acousticness_%        817 non-null    int64
 16  instrumentalness_%    817 non-null    int64
 17  liveness_%            817 non-null    int64
 18  speechiness_%         817 non-null    int64
dtypes: int64(13), object(6)
memory usage: 127.7+ KB

In [11]:
cleaner_data.isnull().sum()

artist(s)_name          0
in_spotify_playlists    0
in_spotify_charts       0
streams                 0
in_apple_playlists      0
in_apple_charts         0
in_deezer_playlists     0
in_deezer_charts        0
in_shazam_charts        0
bpm                     0
key                     0
mode                    0
danceability_%          0
valence_%               0
energy_%                0
acousticness_%          0
instrumentalness_%      0
liveness_%              0
speechiness_%           0
dtype: int64

In [12]:
#no more NaN values

In [13]:
#remove commas for data in in_deezer_playlists and in_shazam_charts

In [14]:
cleaner_data.loc[:,'in_shazam_charts'] = cleaner_data['in_shazam_charts'].astype(str).str.replace(',', '')

cleaner_data.loc[:,'in_shazam_charts'] = pd.to_numeric(cleaner_data['in_shazam_charts'], errors='coerce')

cleaner_data.loc[:,'in_deezer_playlists'] = cleaner_data['in_deezer_playlists'].astype(str).str.replace(',', '')

cleaner_data.loc[:,'in_deezer_playlists'] = pd.to_numeric(cleaner_data['in_deezer_playlists'], errors='coerce')

In [15]:
cleaner_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 817 entries, 0 to 952
Data columns (total 19 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   artist(s)_name        817 non-null    object
 1   in_spotify_playlists  817 non-null    int64
 2   in_spotify_charts     817 non-null    int64
 3   streams               817 non-null    object
 4   in_apple_playlists    817 non-null    int64
 5   in_apple_charts       817 non-null    int64
 6   in_deezer_playlists   817 non-null    object
 7   in_deezer_charts      817 non-null    int64
 8   in_shazam_charts      817 non-null    object
 9   bpm                   817 non-null    int64
 10  key                   817 non-null    object
 11  mode                  817 non-null    object
 12  danceability_%        817 non-null    int64
 13  valence_%             817 non-null    int64
 14  energy_%              817 non-null    int64
 15  acousticness_%        817 non-null    int64
 16  instrumentalness_%    817 non-null    int64
 17  liveness_%            817 non-null    int64
 18  speechiness_%         817 non-null    int64
dtypes: int64(13), object(6)
memory usage: 127.7+ KB

In [16]:
#converting data eg streams back to int cause its objects now

In [17]:
cleaner_data.loc[:,'streams'] = pd.to_numeric(cleaner_data['streams'], errors='coerce')
cleaner_data.loc[:,'in_deezer_playlists'] = pd.to_numeric(cleaner_data['in_deezer_playlists'], errors='coerce')
cleaner_data.loc[:,'in_shazam_charts'] = pd.to_numeric(cleaner_data['in_shazam_charts'], errors='coerce')

In [18]:
cleaner_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 817 entries, 0 to 952
Data columns (total 19 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   artist(s)_name        817 non-null    object
 1   in_spotify_playlists  817 non-null    int64
 2   in_spotify_charts     817 non-null    int64
 3   streams               816 non-null    object
 4   in_apple_playlists    817 non-null    int64
 5   in_apple_charts       817 non-null    int64
 6   in_deezer_playlists   817 non-null    object
 7   in_deezer_charts      817 non-null    int64
 8   in_shazam_charts      817 non-null    object
 9   bpm                   817 non-null    int64
 10  key                   817 non-null    object
 11  mode                  817 non-null    object
 12  danceability_%        817 non-null    int64
 13  valence_%             817 non-null    int64
 14  energy_%              817 non-null    int64
 15  acousticness_%        817 non-null    int64
 16  instrumentalness_%    817 non-null    int64
 17  liveness_%            817 non-null    int64
 18  speechiness_%         817 non-null    int64
dtypes: int64(13), object(6)
memory usage: 127.7+ KB

In [19]:
df_encoded = pd.get_dummies(cleaner_data, columns=['artist(s)_name', 'key', 'mode'])
df_encoded

,in_spotify_playlists,in_spotify_charts,streams,in_apple_playlists,in_apple_charts,in_deezer_playlists,in_deezer_charts,in_shazam_charts,bpm,danceability_%,...,key_C#,key_D,key_D#,key_E,key_F,key_F#,key_G,key_G#,mode_Major,mode_Minor
0,553,147,141381703.0,43,263,45,10,826,125,80,...,False,False,False,False,False,False,False,False,True,False
1,1474,48,133716286.0,48,126,58,14,382,92,71,...,True,False,False,False,False,False,False,False,True,False
2,1397,113,140003974.0,94,207,91,14,949,138,51,...,False,False,False,False,True,False,False,False,True,False
3,7858,100,800840817.0,116,207,125,12,548,170,55,...,False,False,False,False,False,False,False,False,True,False
4,3133,50,303236322.0,84,133,87,15,425,144,65,...,False,False,False,False,False,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
948,953,0,91473363.0,61,13,37,1,0,144,60,...,False,False,False,False,False,False,False,False,True,False
949,1180,0,121871870.0,4,0,8,0,0,166,42,...,False,False,False,False,False,True,False,False,True,False
950,573,0,73513683.0,2,0,7,0,0,92,80,...,True,False,False,False,False,False,False,False,True,False
951,1320,0,133895612.0,29,26,17,0,0,97,82,...,True,False,False,False,False,False,False,False,True,False
952,782,2,96007391.0,27,18,32,1,0,90,61,...,False,False,False,True,False,False,False,False,False,True

In [20]:
#replacing true and false values with binary data instead

In [21]:
df_encoded.mode_Major = df_encoded.mode_Major.replace({True: 1, False: 0})
df_encoded

,in_spotify_playlists,in_spotify_charts,streams,in_apple_playlists,in_apple_charts,in_deezer_playlists,in_deezer_charts,in_shazam_charts,bpm,danceability_%,...,key_C#,key_D,key_D#,key_E,key_F,key_F#,key_G,key_G#,mode_Major,mode_Minor
0,553,147,141381703.0,43,263,45,10,826,125,80,...,False,False,False,False,False,False,False,False,1,False
1,1474,48,133716286.0,48,126,58,14,382,92,71,...,True,False,False,False,False,False,False,False,1,False
2,1397,113,140003974.0,94,207,91,14,949,138,51,...,False,False,False,False,True,False,False,False,1,False
3,7858,100,800840817.0,116,207,125,12,548,170,55,...,False,False,False,False,False,False,False,False,1,False
4,3133,50,303236322.0,84,133,87,15,425,144,65,...,False,False,False,False,False,False,False,False,0,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
948,953,0,91473363.0,61,13,37,1,0,144,60,...,False,False,False,False,False,False,False,False,1,False
949,1180,0,121871870.0,4,0,8,0,0,166,42,...,False,False,False,False,False,True,False,False,1,False
950,573,0,73513683.0,2,0,7,0,0,92,80,...,True,False,False,False,False,False,False,False,1,False
951,1320,0,133895612.0,29,26,17,0,0,97,82,...,True,False,False,False,False,False,False,False,1,False
952,782,2,96007391.0,27,18,32,1,0,90,61,...,False,False,False,True,False,False,False,False,0,True

In [22]:
df_encoded.mode_Minor = df_encoded.mode_Minor.replace({True: 1, False: 0})
df_encoded

,in_spotify_playlists,in_spotify_charts,streams,in_apple_playlists,in_apple_charts,in_deezer_playlists,in_deezer_charts,in_shazam_charts,bpm,danceability_%,...,key_C#,key_D,key_D#,key_E,key_F,key_F#,key_G,key_G#,mode_Major,mode_Minor
0,553,147,141381703.0,43,263,45,10,826,125,80,...,False,False,False,False,False,False,False,False,1,0
1,1474,48,133716286.0,48,126,58,14,382,92,71,...,True,False,False,False,False,False,False,False,1,0
2,1397,113,140003974.0,94,207,91,14,949,138,51,...,False,False,False,False,True,False,False,False,1,0
3,7858,100,800840817.0,116,207,125,12,548,170,55,...,False,False,False,False,False,False,False,False,1,0
4,3133,50,303236322.0,84,133,87,15,425,144,65,...,False,False,False,False,False,False,False,False,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
948,953,0,91473363.0,61,13,37,1,0,144,60,...,False,False,False,False,False,False,False,False,1,0
949,1180,0,121871870.0,4,0,8,0,0,166,42,...,False,False,False,False,False,True,False,False,1,0
950,573,0,73513683.0,2,0,7,0,0,92,80,...,True,False,False,False,False,False,False,False,1,0
951,1320,0,133895612.0,29,26,17,0,0,97,82,...,True,False,False,False,False,False,False,False,1,0
952,782,2,96007391.0,27,18,32,1,0,90,61,...,False,False,False,True,False,False,False,False,0,1

In [23]:
df_encoded.key_D = df_encoded.key_D.replace({True: 1, False: 0})
df_encoded.key_E = df_encoded.key_E.replace({True: 1, False: 0})
df_encoded.key_F = df_encoded.key_F.replace({True: 1, False: 0})
df_encoded.key_G = df_encoded.key_G.replace({True: 1, False: 0})
df_encoded['key_C#'] = df_encoded['key_C#'].replace({True: 1, False: 0})
df_encoded['key_D#'] = df_encoded['key_D#'].replace({True: 1, False: 0})
df_encoded['key_F#'] = df_encoded['key_F#'].replace({True: 1, False: 0})
df_encoded['key_G#'] = df_encoded['key_G#'].replace({True: 1, False: 0})
df_encoded

,in_spotify_playlists,in_spotify_charts,streams,in_apple_playlists,in_apple_charts,in_deezer_playlists,in_deezer_charts,in_shazam_charts,bpm,danceability_%,...,key_C#,key_D,key_D#,key_E,key_F,key_F#,key_G,key_G#,mode_Major,mode_Minor
0,553,147,141381703.0,43,263,45,10,826,125,80,...,0,0,0,0,0,0,0,0,1,0
1,1474,48,133716286.0,48,126,58,14,382,92,71,...,1,0,0,0,0,0,0,0,1,0
2,1397,113,140003974.0,94,207,91,14,949,138,51,...,0,0,0,0,1,0,0,0,1,0
3,7858,100,800840817.0,116,207,125,12,548,170,55,...,0,0,0,0,0,0,0,0,1,0
4,3133,50,303236322.0,84,133,87,15,425,144,65,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
948,953,0,91473363.0,61,13,37,1,0,144,60,...,0,0,0,0,0,0,0,0,1,0
949,1180,0,121871870.0,4,0,8,0,0,166,42,...,0,0,0,0,0,1,0,0,1,0
950,573,0,73513683.0,2,0,7,0,0,92,80,...,1,0,0,0,0,0,0,0,1,0
951,1320,0,133895612.0,29,26,17,0,0,97,82,...,1,0,0,0,0,0,0,0,1,0
952,782,2,96007391.0,27,18,32,1,0,90,61,...,0,0,0,1,0,0,0,0,0,1

In [24]:
data = df_encoded
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 817 entries, 0 to 952
Columns: 600 entries, in_spotify_playlists to mode_Minor
dtypes: bool(574), int64(23), object(3)
memory usage: 630.3+ KB

In [25]:
combined_df = pd.concat([cleaner_data, data], axis=1)

combined_df

In [26]:
combined_df

,artist(s)_name,in_spotify_playlists,in_spotify_charts,streams,in_apple_playlists,in_apple_charts,in_deezer_playlists,in_deezer_charts,in_shazam_charts,bpm,...,key_C#,key_D,key_D#,key_E,key_F,key_F#,key_G,key_G#,mode_Major,mode_Minor
0,"Latto, Jung Kook",553,147,141381703.0,43,263,45,10,826,125,...,0,0,0,0,0,0,0,0,1,0
1,Myke Towers,1474,48,133716286.0,48,126,58,14,382,92,...,1,0,0,0,0,0,0,0,1,0
2,Olivia Rodrigo,1397,113,140003974.0,94,207,91,14,949,138,...,0,0,0,0,1,0,0,0,1,0
3,Taylor Swift,7858,100,800840817.0,116,207,125,12,548,170,...,0,0,0,0,0,0,0,0,1,0
4,Bad Bunny,3133,50,303236322.0,84,133,87,15,425,144,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
948,Selena Gomez,953,0,91473363.0,61,13,37,1,0,144,...,0,0,0,0,0,0,0,0,1,0
949,Taylor Swift,1180,0,121871870.0,4,0,8,0,0,166,...,0,0,0,0,0,1,0,0,1,0
950,"Feid, Paulo Londra",573,0,73513683.0,2,0,7,0,0,92,...,1,0,0,0,0,0,0,0,1,0
951,"Feid, Sech, Jhayco",1320,0,133895612.0,29,26,17,0,0,97,...,1,0,0,0,0,0,0,0,1,0
952,Burna Boy,782,2,96007391.0,27,18,32,1,0,90,...,0,0,0,1,0,0,0,0,0,1

In [27]:
combined_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 817 entries, 0 to 952
Columns: 619 entries, artist(s)_name to mode_Minor
dtypes: bool(574), int64(36), object(9)
memory usage: 751.6+ KB

In [28]:
combined_df.head()

,artist(s)_name,in_spotify_playlists,in_spotify_charts,streams,in_apple_playlists,in_apple_charts,in_deezer_playlists,in_deezer_charts,in_shazam_charts,bpm,...,key_C#,key_D,key_D#,key_E,key_F,key_F#,key_G,key_G#,mode_Major,mode_Minor
0,"Latto, Jung Kook",553,147,141381703.0,43,263,45,10,826,125,...,0,0,0,0,0,0,0,0,1,0
1,Myke Towers,1474,48,133716286.0,48,126,58,14,382,92,...,1,0,0,0,0,0,0,0,1,0
2,Olivia Rodrigo,1397,113,140003974.0,94,207,91,14,949,138,...,0,0,0,0,1,0,0,0,1,0
3,Taylor Swift,7858,100,800840817.0,116,207,125,12,548,170,...,0,0,0,0,0,0,0,0,1,0
4,Bad Bunny,3133,50,303236322.0,84,133,87,15,425,144,...,0,0,0,0,0,0,0,0,0,1

In [29]:
print(combined_df.columns)

Index(['artist(s)_name', 'in_spotify_playlists', 'in_spotify_charts',
       'streams', 'in_apple_playlists', 'in_apple_charts',
       'in_deezer_playlists', 'in_deezer_charts', 'in_shazam_charts', 'bpm',
       ...
       'key_C#', 'key_D', 'key_D#', 'key_E', 'key_F', 'key_F#', 'key_G',
       'key_G#', 'mode_Major', 'mode_Minor'],
      dtype='object', length=619)

In [30]:
#dropping any duplicate columns

In [31]:
combined_df = combined_df.loc[:,~combined_df.columns.duplicated()]

In [32]:
#creating a new column for top_100_songs, taking the top 100 from spotify charts

In [33]:
top_100_songs = combined_df.sort_values(by='in_spotify_charts', ascending=False).head(100)

In [34]:
top_100_songs.to_csv('top_100_spotify_songs_2023.csv', index=False)

In [38]:
print(f"Number of songs in top_100_songs DataFrame: {len(top_100_songs)}")

print(top_100_songs.head())

Number of songs in top_100_songs DataFrame: 100
      artist(s)_name  in_spotify_playlists  in_spotify_charts      streams  \
0   Latto, Jung Kook                   553                147  141381703.0
2     Olivia Rodrigo                  1397                113  140003974.0
29          Dua Lipa                  2988                101  127408954.0
3       Taylor Swift                  7858                100  800840817.0
13     David Kushner                  3528                 98  387570742.0

    in_apple_playlists  in_apple_charts in_deezer_playlists  in_deezer_charts  \
0                   43              263                  45                10
2                   94              207                  91                14
29                   0                0                 143                38
3                  116              207                 125                12
13                  80              156                 182                24

   in_shazam_charts  bpm  ... key_C# key_D  key_D#  key_E  key_F  key_F#  \
0               826  125  ...      0     0       0      0      0       0
2               949  138  ...      0     0       0      0      1       0
29                0  110  ...      0     0       0      0      0       0
3               548  170  ...      0     0       0      0      0       0
13             1281  130  ...      0     1       0      0      0       0

    key_G  key_G#  mode_Major  mode_Minor
0       0       0           1           0
2       0       0           1           0
29      0       0           0           1
3       0       0           1           0
13      0       0           0           1

[5 rows x 603 columns]

In [41]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, confusion_matrix, precision_score, recall_score, ConfusionMatrixDisplay
from sklearn.model_selection import RandomizedSearchCV, train_test_split
from scipy.stats import randint

# Tree Visualisation
from sklearn.tree import export_graphviz
from IPython.display import Image

In [40]:
X = combined_df.drop('top_100_songs', axis=1)
y = combined_df['top_100_songs']

KeyError: "['top_100_songs'] not found in axis"

In [ ]:
print(combined_df.columns)

In [ ]:
#top_100_songs not in the dataframe yet so I'll add it in now

In [66]:
combined_df = combined_df.merge(top_100_spotify_songs_2023[['top_100_songs']], left_index=True, right_index=True, how='left')

NameError: name 'top_100_spotify_songs_2023' is not defined